<div class="jumbotron">
    <h2> HipTime is free and fun </h2>
    <br>
    <h4>Gerencie suas tarefas de maneira divertida</h4>
    <br>
    <%= link_to "Inscreva-se", new_user_registration_path, class: "btn btn-danger" %>
</div>